# Copy this file without the .dist and fill out the values.

# HipChat Jabber credentials
export HUBOT_HIPCHAT_JID="xxxxxxxxxxxx@chat.hipchat.com"
export HUBOT_HIPCHAT_PASSWORD="xxxxxxxxxxxx"

# Comma separated list of jabber room names
export HUBOT_HIPCHAT_ROOMS="xxxxxxxxxxxx@conf.hipchat.com"

# WolframAlpha App ID / API key
export HUBOT_WOLFRAM_APPID="xxxxxxxxxxxx"

# WorldWeatherOnline API Key (you probably want to leave the URL as-is)
export HUBOT_WWO_API_KEY="xxxxxxxxxxxx"
export HUBOT_WWO_API_URL="http://api.worldweatheronline.com/free/v1/tz.ashx"

# JIRA info
export HUBOT_JIRA_URL="https://jira.yourdomain.com/"
export HUBOT_JIRA_USER="xxxxxxxxxxxx"
export HUBOT_JIRA_PASSWORD="xxxxxxxxxxxx"
export HUBOT_JIRA_USE_V2="true"
